<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuxn.yuzhong.project.os.mapper.SGeneMapper">
    
    <resultMap type="SGene" id="SGeneResult">
        <result property="id"    column="id"    />
        <result property="speciesName"    column="species_name"    />
        <result property="speciesName2"    column="species_name2"    />
        <result property="s1"    column="s1"    />
        <result property="s2"    column="s2"    />
        <result property="s3"    column="s3"    />
        <result property="s4"    column="s4"    />
        <result property="sGene"    column="s_gene"    />
        <result property="bloomStartDate"    column="bloom_start_date"    />
        <result property="bloomEndDate"    column="bloom_end_date"    />
        <result property="pollenAbortion"    column="pollen_abortion"    />
        <result property="recommended"    column="recommended"    />
        <result property="source"    column="source"    />
        <result property="area"    column="area"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>


</mapper>